<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoginSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dced80">  <td>23/11/30 02:54:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@128d2484]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>main@1606304070</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>23/11/30 02:54:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@128d2484]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>main@1606304070</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>23/11/30 02:54:34</td>   <td>-6169</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginPageTest@128d2484]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1606304070</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/11/30 02:54:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.valid_login_one()[pri:1, instance:com.ddt.testcases.LoginPageTest@128d2484]">valid_login_one</td> 
  <td>main@1606304070</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>23/11/30 02:54:41</td>   <td>434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginPageTest@128d2484]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1606304070</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/11/30 02:54:40</td>   <td>-142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verify_logo()[pri:0, instance:com.ddt.testcases.LoginPageTest@128d2484]">verify_logo</td> 
  <td>main@1606304070</td>   <td></td> </tr>
</table>
