<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CBSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:16</td>   <td>3892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:16</td>   <td>3892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:12</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:12</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:10</td>   <td>-2989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:10</td>   <td>-2989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:10</td>   <td>-2989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:13</td>   <td>658</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:17</td>   <td>4497</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 03:07:13</td>   <td>577</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:13</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validate_login()[pri:1, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">validate_login</td> 
  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:16</td>   <td>3896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validate_login()[pri:1, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">validate_login</td> 
  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:12</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.validate_login()[pri:1, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">validate_login</td> 
  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:12</td>   <td>-153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verify_logo()[pri:0, instance:com.ddt.testcases.LoginPageTest@4d5d943d]">verify_logo</td> 
  <td>TestNG-tests-1@1170727939</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:16</td>   <td>3768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verify_logo()[pri:0, instance:com.ddt.testcases.LoginPageTest@6025e1b6]">verify_logo</td> 
  <td>TestNG-tests-2@536122141</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 03:07:12</td>   <td>-177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verify_logo()[pri:0, instance:com.ddt.testcases.LoginPageTest@2d1ef81a]">verify_logo</td> 
  <td>TestNG-tests-3@1630678941</td>   <td></td> </tr>
</table>
