<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EndToEndSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dced80">  <td>23/11/30 12:26:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.EndToEndTest@459e9125]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@202125197</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>23/11/30 12:26:54</td>   <td>4041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.EndToEndTest@459e9125]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@202125197</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>23/11/30 12:26:53</td>   <td>2499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.execute()[pri:0, instance:com.ddt.testcases.EndToEndTest@459e9125]">execute</td> 
  <td>main@202125197</td>   <td></td> </tr>
<tr bgcolor="dced80">  <td>23/11/30 12:26:53</td>   <td>2456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.EndToEndTest@459e9125]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>main@202125197</td>   <td></td> </tr>
</table>
