<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HomeSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a287af">  <td>23/11/30 02:49:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadPages()[pri:0, instance:com.ddt.testcases.HomePageTest@7c7b252e]">&gt;&gt;loadPages</td> 
<td>&nbsp;</td>  <td>main@1725008249</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 02:49:56</td>   <td>-3507</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.HomePageTest@7c7b252e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725008249</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 02:50:00</td>   <td>417</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.HomePageTest@7c7b252e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725008249</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 02:50:00</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.valid_login_two(java.lang.String,java.lang.String)[pri:0, instance:com.ddt.testcases.HomePageTest@7c7b252e]">valid_login_two</td> 
  <td>main@1725008249</td>   <td></td> </tr>
</table>
