<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login CrossBrowser Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginTest@6f1de4c7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@16503286</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginTest@292b08d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2056031695</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.ddt.testcases.LoginTest@36ebc363]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@718187988</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:36</td>   <td>19392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginTest@6f1de4c7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@16503286</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:37</td>   <td>20024</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginTest@292b08d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2056031695</td>   <td></td> </tr>
<tr bgcolor="a287af">  <td>23/11/30 00:56:37</td>   <td>19960</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.ddt.testcases.LoginTest@36ebc363]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@718187988</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 00:56:21</td>   <td>3742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_login()[pri:0, instance:com.ddt.testcases.LoginTest@6f1de4c7]">test_login</td> 
  <td>TestNG-tests-1@16503286</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 00:56:21</td>   <td>4412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_login()[pri:0, instance:com.ddt.testcases.LoginTest@292b08d6]">test_login</td> 
  <td>TestNG-tests-2@2056031695</td>   <td></td> </tr>
<tr bgcolor="aaecc3">  <td>23/11/30 00:56:21</td>   <td>4327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_login()[pri:0, instance:com.ddt.testcases.LoginTest@36ebc363]">test_login</td> 
  <td>TestNG-tests-3@718187988</td>   <td></td> </tr>
</table>
